
<p>
  <a routerLink="/admin/customers/new" class="btn btn-primary">New Customer</a>
</p>
<p>
  <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>

<data-table
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)">

  <data-table-column
    [property]="'customerName'"  
    [header]="'Customer Name'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>
  
  <data-table-column
    [property]="'phoneNumber'"  
    [header]="'Phone Number'"
    [sortable]="true"
    [resizable]="true"
  >
  </data-table-column>

  <data-table-column
  [property]="'emailId'"  
  [header]="'Email Id'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

<data-table-column
  [property]="'time'"  
  [header]="'Time'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

<data-table-column
  [property]="'apptDate'"  
  [header]="'Date'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

<data-table-column
  [property]="'location'"  
  [header]="'Location'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

  <data-table-column
    [property]="'$key'"  
  >
    <ng-template #dataTableCell let-item="item">
      <a [routerLink]="['/admin/customers/', item.$key]">Edit</a>
    </ng-template>
  </data-table-column>

</data-table>

