<div class="sticky-top">
  <div class="list-group">
      <a
        class="list-group-item list-group-item-action"
        [class.active]="!location"
        routerLink="/"
        >All Locations</a>
      <a 
        *ngFor="let c of locations$ | async" 
        routerLink="/"
        [queryParams]="{ location: c.$key }"
        class="list-group-item list-group-item-action"
        [class.active]="location === c.$key"
        >
        {{ c.name }}
      </a>
    </div>
</div>
